/* 노멀라이징 */
*{
  margin: 0;
  padding: 0;
}
body {
  background-color : #fff ;
}
ul, li{
  list-style: none;
}
a{
  color: inherit;
  text-decoration: none;
}
/* 라이브러리 */
.cell{
float: left;
}
.row::after{
  display: block;
  contain: "";
  clear: both;
}

.top-bar-wrap {
  background-color:#fff0 ;
  color: white ;
  line-height: 50px ;
  text-align: center ;
}



.top-bar-wrap > .top-bar{
 
  display: inline-block ;
  vertical-align: top ;
}
.top-bar-wrap:hover{
  background-color: black;
}
.top-bar-wrap > .top-bar > li {
  
  margin-left: 20px ;
  margin-right: 20px;
  font-weight: bold ;
  text-transform: uppercase ;
}
.top-bar-wrap > .top-bar > li > .nav-2-depth{
  position: absolute ;
  color: black ;
  background-color: #ddd9 ;
  line-height: normal ;
  text-align: center ;
  font-weight: normal ;
  width: 100%;
  left: 0 ;
  max-height: 0px ;
  overflow: hidden ;
  transition: 0.5s ;
}
.top-bar-wrap > .top-bar > li:hover > .nav-2-depth{
  max-height: 1000px ;
}
.top-bar-wrap > .top-bar > li > .nav-2-depth > ul{
  display: inline-block ;
  text-align: left ;
  margin-top: 20px ;
  margin-bottom: 20px;
  line-height: 40px ;
}
.top-bar-wrap > .top-bar > li > .nav-2-depth > ul > li{
  margin-left: 10px ;
  margin-right: 10px ;
}
.top-bar-wrap > .top-bar > li > .nav-2-depth > ul > li > a{
  font-weight: bold ;
}







.banner-slider{
  max-width: 2000px ;
  margin: 0 auto ;
  width: 100%;
}
.slider-items > img{
  width: 100%;
}
.banner-slider .slick-prev{
  left:10px;
  z-index: 8;
}
.banner-slider .slick-next{
  right:10px;
  z-index: 8;
}
.banner-slider .slick-dots{
  bottom: 10px;
  z-index: 8;
}